/* reset */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2 {
  font-size: 24px;
}

p {
  text-wrap: pretty;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* layout */
body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
}
.container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 10;
  margin-right: 20px;
  max-width: 768px;
}

@media (min-width: 1024px) {
  .container {
    margin-right: 0;
  }
}

/* header */
.srheader {
  align-items: center;
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
}

.srlogo {
  width: 48px;
  height: 24px;
}

.srname {
  font-size: x-large;
  font-weight: bold;
}

/* content */
h2 {
  font-size: larger;
  font-weight: bold;
}

/* footer */
.srfooter {
  border-top-color: darkgrey;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .srfooter {
    flex-direction: row;
    justify-content: space-between;
  }
}

.palette {
  display: none;
  height: 6px;
  --stops: 6;
  --a: hsla(0, 0%, 0%, 0.1);
  --b: hsla(0, 0%, 0%, 0.2);
  --c: hsla(0, 0%, 0%, 0.3);
  --d: hsla(0, 0%, 0%, 0.4);
  --e: hsla(0, 0%, 0%, 0.5);
  --f: hsla(0, 0%, 0%, 0.7);
  width: calc(var(--stops) * 24px);
  background-image: linear-gradient(
    to right,
    var(--a) calc(100% / var(--stops)),
    var(--b) calc(100% / var(--stops)),
    var(--b) calc(100% / var(--stops) * 2),
    var(--c) calc(100% / var(--stops) * 2),
    var(--c) calc(100% / var(--stops) * 3),
    var(--d) calc(100% / var(--stops) * 3),
    var(--d) calc(100% / var(--stops) * 4),
    var(--e) calc(100% / var(--stops) * 4),
    var(--e) calc(100% / var(--stops) * 5),
    var(--f) calc(100% / var(--stops) * 5),
    var(--f) 100%
  );
  margin-top: 24px;
}

@media (min-width: 768px) {
  .palette {
    display: block;
  }
}
