/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* reset */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h2 {
  font-size: 24px;
}

p {
  text-wrap: pretty;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* layout */
body {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
}
.container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 10;
  margin-right: 20px;
  max-width: 768px;
}

@media (min-width: 1024px) {
  .container {
    margin-right: 0;
  }
}

/* header */
.srhead {
  align-items: baseline;
  column-gap: 9px;
  display: flex;
}

.sralias {
  font-size: smaller;
}
.srheader {
  align-items: baseline;
  font-family: "JetBrains Mono Variable", monospace;
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
}

.srlogo {
  margin-top: 16px;
  img {
    width: 48px;
  }
}

.srname {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

.srsubtitle {
  font-size: large;
  margin: 0;
  text-transform: uppercase;
}

/* social */
.srsocial {
  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 14px;
    list-style: none;
    padding-inline-start: 0;
  }
}

@media (min-width: 768px) {
  .srsocial {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 14px;
    }
  }
}

/* journal */
.srjournal {
  .blogposts {
    list-style: none;
    padding-inline-start: 0;
  }
}

.journalhead {
  align-items: center;
  display: flex;
  justify-content: space-between;

  p {
    text-transform: uppercase;
    font-family: "JetBrains Mono Variable", monospace;
    font-size: larger;
    font-weight: bold;
  }
}

.srpostdate {
  flex-shrink: 0;
  font-size: small;
}

.dashed-line {
  flex: 1 1 0;
  min-height: 6px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    transparent 4px,
    #262626 5px,
    #262626 6px
  );
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 0 48%;
}

.post {
  align-items: baseline;
  column-gap: 9px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

/* content */
section {
  margin-bottom: 39px;
}
h2 {
  font-size: larger;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-family: "JetBrains Mono Variable", monospace;
  font-size: larger;
  text-transform: uppercase;
}

/* footer */
.srfooter {
  border-top-color: darkgrey;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  font-family: "JetBrains Mono Variable", monospace;
  flex-direction: column;

  p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .srfooter {
    flex-direction: row;
    justify-content: space-between;
  }
}

.palette {
  display: none;
  height: 6px;
  --stops: 6;
  --a: hsla(0, 0%, 0%, 0.1);
  --b: hsla(0, 0%, 0%, 0.2);
  --c: hsla(0, 0%, 0%, 0.3);
  --d: hsla(0, 0%, 0%, 0.4);
  --e: hsla(0, 0%, 0%, 0.5);
  --f: hsla(0, 0%, 0%, 0.7);
  width: calc(var(--stops) * 24px);
  background-image: linear-gradient(
    to right,
    var(--a) calc(100% / var(--stops)),
    var(--b) calc(100% / var(--stops)),
    var(--b) calc(100% / var(--stops) * 2),
    var(--c) calc(100% / var(--stops) * 2),
    var(--c) calc(100% / var(--stops) * 3),
    var(--d) calc(100% / var(--stops) * 3),
    var(--d) calc(100% / var(--stops) * 4),
    var(--e) calc(100% / var(--stops) * 4),
    var(--e) calc(100% / var(--stops) * 5),
    var(--f) calc(100% / var(--stops) * 5),
    var(--f) 100%
  );
  margin-top: 24px;
}

@media (min-width: 768px) {
  .palette {
    display: block;
  }
}
